@charset "utf-8";
// @import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');

$tabs-border-bottom-color: var(--tab-underline);
$tabs-link-color: var(--text-color);
$tabs-link-active-color: var(--text-color);
$tabs-link-active-border-bottom-color: var(--text-color);
$tabs-link-hover-border-bottom-color: var(--tab-hover-underline);
$table-background-color: var(--background-color);
$table-color: var(--text-color);
$table-cell-heading-color: var(--text-color);
$table-head-cell-color: var(--text-color) !important;
$table-foot-cell-color: var(--text-color);
$tabs-border-bottom-width: 2px;

// @import "bulma-0.8.0/bulma.sass";

@import "bulma-0.8.0/sass/utilities/_all.sass";
@import "bulma-0.8.0/sass/base/_all.sass";

@import "bulma-0.8.0/sass/layout/section.sass";
@import "bulma-0.8.0/sass/grid/_all.sass";

@import "bulma-0.8.0/sass/elements/content.sass";
@import "bulma-0.8.0/sass/elements/table.sass";
@import "bulma-0.8.0/sass/elements/title.sass";

@import "bulma-0.8.0/sass/components/message.sass";
@import "bulma-0.8.0/sass/components/navbar.sass";
@import "bulma-0.8.0/sass/components/tabs.sass";


/**
 * Style variables
 */
$base-font-family:     'Sen', monospace !default;
$base-font-size:       13.5px !default;
$mobile-font-size:     12px !default;
$base-line-height:     1.5 !default;
$container-width:      90% !default;
$container-max-width:  600px !default;

/**
 * Global
 */

$widthAmounts: (1, 2.5, 3, 4 , 5, 6, 7, 10, 11, 12, 14, 16, 20, 26, 32); // Just add the numbers here, you can use points too.
$widthUnit: "em"; // Add the unit here (rem|em|px|%)

@each $width in $widthAmounts {
	$i: index($widthAmounts, $width);
	.table thead th.is-#{$i} {
		width: #{$width}#{$widthUnit} !important;
	}
}

a[target='_blank']:hover::after {
	content: '↗';
}

.container {
	max-width: $container-max-width;
	  @include mobile {
	    max-width: inherit;
	  }
}

.more {
	border-style: solid;
	border-width: 1px 1px 3px 1px;
	border-color: #121212;
	padding: 2px;
	text-decoration: none;
	border-radius: 5px;
}



#tab-content > div {
  display: none;
  margin: 0em 1.5em;
}

#tab-content > div.is-active {
  display: block;
}

.tabs a:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.tabs li.is-active a {
	font-weight: bold;
}

.tabs a {
	text-decoration: none;
}

#svg-logo {
	fill: var(--text-color);
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

footer {
	margin-top: 2em;
	color: var(--footer-text);
	border-top: #6363635e 1px solid;
}

footer small {
	display: block;
	padding-top: 0.5em;
}

.navbar-menu {
	background-color: var(--background-color);
	box-shadow: none;
	@include mobile {
		background-color:  rgba(var(--background-color), 0.3);
	    border-bottom: 2px var(--text-color) solid;
	}	
}

blockquote p,
blockquote h4,
blockquote ul,
blockquote a
 {
	color: #121212 !important;
}

blockquote a:hover {
	color: #FFF !important;
	background-color: #121212;
}

html { 
	background-color: var(--background-color) !important;
    transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body { 
	transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
	animation-name: fade-in;
	animation-duration: var(--duration);
	visibility: visible;
  	opacity: 1;
	background-color: var(--background-color);  
	margin: 0 auto;  
	padding: 0;  
	font-family: $base-font-family;  
	font-size: $base-font-size;  
	font-display: swap;
	color: var(--text-color);  
	text-align: left;  
	line-height: $base-line-height !important;
}
h1, h2, h3, h4, h5, h6 {color: var(--text-color) !important; }
p, ul, ol {color: var(--text-color); }
a { text-decoration: underline;  color: var(--link-color); }
a:hover { color: var(--background-color); background-color: var(--base-color); }

::selection { background: var(--selection-background);  color: var(--selection-text); }
::-moz-selection { background: var(--selection-background);  color: var(--selection-text); }
.inverted { background: var(--selection-background);  color: var(--selection-text) !important; }

#dark-mode-toggle {
	--dark-mode-toggle-icon-size: 0px;
	text-decoration: underline;
}

.menu1 { background-color: var(--background-color); }
.menu1 div a { text-decoration: (none !important);  color: var(--text-color); }
.menu1 div a:hover { text-decoration: none; color: var(--background-color); background-color: var(--base-color); }

/**
 * Form
 */
input, select, textarea { padding: 0;  margin: 0;  -webkit-appearance: none;  -webkit-border-radius: 0;  border: none; }
input[type=text], select, textarea { width: 100%;  resize: none;  background-color: var(--background-color);  color: var(--text-color);  caret-color: var(--text-color);  font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height; }
input, select, textarea, textarea::-webkit-input-placeholder { text-indent: 0px; }
::placeholder { color: var(--placeholder-color);  opacity: 1; }
:-ms-input-placeholder { color: var(--placeholder-color); }
::-ms-input-placeholder { color: var(--placeholder-color); }
input[type=submit] { font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height;  cursor: pointer;  color: var(--link-color);  background-color: var(--background-color); }
input[type=submit]:hover { color: var(--background-color); background-color: var(--base-color); }
*:focus { outline: none; }
textarea { vertical-align: top; }

#tabs ul {
	margin-left: 0px;
}

#download_resume {
  opacity: 0.5;
  position:relative;
  float: right;
  right:30px;
  bottom:50px;
  transition: 0.5s;
  border: 2px solid black;
  padding: 2px;
  color: black;
  background-color: white;
}

#download_resume:hover {
  color: white;
  background-color: black;

}
