<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="container Site">
      {%- include header.html -%}
    <main class="Site-content">
        <section class="section">
          <div class="content">
          {{ content }}            
          </div>
        </section>
    </main>

    {%- include footer.html -%}
  <script type="text/javascript" src="{{ "/assets/navburger.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/tabs.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/dark-mode-toggle.min.mjs" | relative_url }}"></script>
  </body>

</html>
